html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1; font-family: arial;}
h1{font-size: 25px;}h2{font-size: 21px;}h3{font-size: 18px;}h4{font-size: 16px;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

body,html {
	background-color: #FFF;
	margin:0; /*gets rid of white space around body*/
	height:100vh; /*you can let your content define it's height*/
	position:relative; /*REQUIRED Sets up positioning for your footer*/
}

#sticky {
	background: #863493;
	margin-top: auto;
	clear: both;
	text-align: center;
	font-weight: bolder;
	color: #ffffff;
	width: 100%;
	height: auto;
	position:absolute; /*Here's what sticks it*/
	bottom:0;          /*to the bottom of the body/page*/
	left:0;            /*and to the left of the body/page.*/
}

.button {
  width: 800px;
  background-color: #863493;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin: 30px auto;
  cursor: pointer;
}

.wrapper {
    text-align: center;
}

header {
    background: #863493;
    padding: 20px 30px;
    margin: auto;
	font-weight: bolder;
	text-align: center;
}

main {
	margin: 20px;
	width: 100%;
}

#logo {
    display: inline-block;
    vertical-align: center;
    font-size: 30px;
    margin-right: 75px;
    color: #FFF;
}
#logo img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}
body > section {
    margin: auto;
    padding: 30px 10px;
    border-bottom: 1px solid #999;
    color: #333;
}